extends layout

block content
	if user
		h1.text-center Completed Todos
		.panel.panel-default
			for todo in todos
				.panel-body
					if todo.completed == true
						a(href='/todos/#{todo._id}') #{todo.content}
						form(action='/todos/destroy/#{todo._id}', method='post')
							input.btn.btn-danger.pull-right(type='submit', value='Delete')
		h1.text-center All Todos
		.panel.panel-default
			for todo in todos
				.panel-body
					if todo.completed == false
						a(href='/todos/#{todo._id}') #{todo.content}
						form(action='/todos/markCompleted/#{todo._id}', method='post')
							input.btn.btn-primary.pull-right(type='submit', value='Done')
						form(action='/todos/destroy/#{todo._id}', method='post')
							input.btn.btn-danger.pull-right(type='submit', value='Delete')
		form(method='post', action='/todos/create')
			.input-group
				input.form-control(type='text', placeholder='What do you have to do?', name='content')
				span.input-group-btn
					input.btn.btn-success(type='submit', value='Add Todo')
